.transparent-benefits-card-container {
  width: 18rem;
  position: absolute;
  height: min-content;
  z-index: 1;

  .transparent-container {
    position: relative;
    background: #50505050;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    padding: 3rem;
    gap: 1rem;
    color: white;
    backdrop-filter: blur(2rem);

    .reflect-card{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 2rem;
        height: 12rem;
        background: red;
    }

    .transparent-container-title {
      font-family: 'rust';
      letter-spacing: 0.05rem;
      font-size: 1.2rem;
    }

    .transparent-container-img {
      $size: 8rem;
      position: absolute;
      top: calc($size/-2.5);
      left: calc($size/-2.5);
      height: $size;
      width: $size;
    }
  }
}
