<div id="headerPage">
  <img src="../assets/rust-handler-logo.svg" alt="" />
  <h3 class="baseline">the most useful rust server tool.</h3>
  <button class="btn">purchase</button>
</div>

<div id="getStarted">
  <div #blurGradient class="blur-gradient-background"></div>

  <div
    class="get-started-block"
    [ngClass]="{'mobile-display-small': smallScreen,'mobile-display-xSmall': xSmallScreen, }"
  >
    @for(card of benefitCards; track card){
    <transparent-benefits-card
      [title]="card.title"
      [top]="card.top"
      [right]="card.right"
      [bottom]="card.bottom"
      [left]="card.left"
      [description]="card.description"
      [imgUrl]="card.imgUrl"
      [position]="smallScreen || xSmallScreen ? 'relative' : 'absolute'"
    ></transparent-benefits-card>
    } @if(!smallScreen && !xSmallScreen){
    <div class="gradient-container">
      <div class="gradient-box"></div>
    </div>
    }
  </div>
</div>

<div id="connection">
  <h1>
    Simply keep your server
    <span class="sec-color">up-to-date</span>
  </h1>

  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro accusantium
    consequatur nesciunt assumenda necessitatibus. Sit eius tempore mollitia
    asperiores ullam illum earum animi cum, quas cumque, consequuntur pariatur,
    porro modi.
  </p>
  @defer(on viewport){
  <terminal [logs]="logs"></terminal>
  }@placeholder{
  <div>placholder</div>
  }
</div>

<div id="interface">
  <h1 style="margin-bottom: 4rem;">
    Utilisez une
    <span class="sec-color">interface</span>
    simple et efficace.
  </h1>

  @defer(on viewport){
  <div class="shema-wrapper">
    <div class="shema-icon-wrapper">
      <fadeIn-img [src]="'../assets/icons/windows-fill.svg'"></fadeIn-img>
      @defer(on timer(2.6s)){
      <div class="shema-icon-shadow"></div>
      }
    </div>

    <div class="dynamic-arrow-wrapper">
      <dynamic-arrow [width]="8"></dynamic-arrow>
      @defer(on timer(1.5s)){
      <dynamic-arrow [width]="8" [rightToLeft]="true"></dynamic-arrow>
      }@placeholder{
      <div style="height: 1rem;"></div>
      }
    </div>

    <div class="shema-icon-wrapper">
      <fadeIn-img [src]="'../assets/icons/Linux.svg'"></fadeIn-img>
      @defer(on timer(1.1s)){
      <div class="shema-icon-shadow"></div>
      }
    </div>
  </div>
  }@placeholder{
  <div></div>
  }

  <h2>the easiest way to communicate with your linux server.</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi
    recusandae pariatur laudantium, placeat, non consequatur, alias ipsa omnis
    quibusdam quisquam mollitia voluptates? Distinctio inventore veniam animi
    ipsam deleniti. Quaerat, sequi!
  </p>
</div>

<div id="selection">
  <transparent-card
    imgSrc="https://cdn.akamai.steamstatic.com/steam/apps/252490/ss_271feae67943bdc141c1249aba116349397e9ba9.1920x1080.jpg?t=1701938429"
    title="Je suis un titre"
    content="Explicabo libero officia aliquid commodi sequi, delectus quas amet unde, maxime fugit rem repellat soluta sit dolores reiciendis accusantium adipisci dolore beatae quo nihil vel. Repellat minus corrupti ipsa rerum dolorem."
  ></transparent-card>

  <transparent-card
    title="Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, asperiores?"
    content="Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse inventore similique officia neque eveniet sit magnam minimat beatae quo nihil vel. Repellat minus corrupti ipsa rerum dolorem."
    [link]="['READ MORE', '']"
  ></transparent-card>

  <transparent-card
    title="Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, asperiores?"
    content="Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse inventore similique officia neque eveniet sit magnam minimat beatae quo nihil vel. Repellat minus corrupti ipsconsectetur adipisicing elit. Esse inventore similique officia neque eveniet sit magnam minimat beatae quo nihil vel. Repellat minus corrupti ipsa rerum dolorem." 
    [link]="['READ MORE', '']"
  ></transparent-card>

  <transparent-card
    imgSrc="https://assets1.ignimgs.com/2018/02/24/rust-blogroll-1519436817760_160w.jpg?width=1280"
    title="Je suis un titre"
    content="Explicabo libero officia aliquid commodi sequi, delectus quasm repellat soluta sit dolores r. Repellat minus corrupti ipsa rerum dolorem."
  ></transparent-card>
</div>

<div id="footer">
  @defer(on viewport){
  <div id="support">
    <h2>Support</h2>
    <div class="link-wrapper">
      <link-element label="Discord" ref="https://github.com/"></link-element>
      <link-element label="Github" ref="https://github.com/"></link-element>
      <link-element label="Email" ref="https://github.com/"></link-element>
    </div>
  </div>
  <div id="social">
    <h2>Social Media</h2>
    <div class="link-wrapper">
      <link-element label="Codefling" ref="https://github.com/"></link-element>
      <link-element label="Github" ref="https://github.com/"></link-element>
      <link-element label="Twitter/X" ref="https://github.com/"></link-element>
    </div>
  </div>
  <div id="newsletter">
    <h2>Subscribe our newsletter</h2>
    <div class="mail-input">
      <input type="email" placeholder="your email" />
      <button>
        send
      </button>
    </div>
  </div>
  }@placeholder {
  <div></div>
  }
</div>
