@import '../colors.scss';

@mixin col-center() {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#headerPage {
  @include col-center();
  margin-top: 4rem;

  width: 100%;
  .baseline {
    color: white;
    font-size: 0.9rem;
    font-weight: 500;
  }
}

.gradient-box {
  height: 30rem;
  width: 100%;
}

#getStarted {
  position: relative;
  margin-top: 6rem;
  margin-bottom: 22rem;
  @include col-center();

  .blur-gradient-background {
    z-index: -1;
    position: absolute;
    // top: 50%;
    // left: 50%;
    height: 25rem;
    width: 35rem;
    background: radial-gradient(ellipse at top, $primary, transparent),
      radial-gradient(ellipse at bottom, $secondary, transparent);
    transform: translate(-50%, -50%);
    transition: all 3s ease-in-out;
    filter: blur(10rem);
  }

  .get-started-block {
    position: relative;
    max-width: 60rem;
    width: -webkit-fill-available;
  }

  .mobile-display-small,
  .mobile-display-xSmall {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .mobile-display-xSmall {
    padding: 0 2rem 0 2rem;
  }

  .mobile-display-small {
    padding: 0 4rem 0 4rem;
  }
}

#connection,
#interface {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  p {
    max-width: 40rem;
    text-align: center;
  }

  h1 {
    color: white;
    text-align: center;
  }

  margin-bottom: 8rem;
}
