<div id="headerPage">
  <img src="../assets/rust-handler-logo.svg" alt="" />
  <h3 class="baseline">the most useful rust server tool.</h3>
  <button class="btn">purchase</button>
</div>

<div id="getStarted">
  <div #blurGradient class="blur-gradient-background"></div>

  <div
    class="get-started-block"
    [ngClass]="{'mobile-display-small': smallScreen,'mobile-display-xSmall': xSmallScreen, }"
  >
    @for(card of benefitCards; track card){
    <transparent-benefits-card
      [title]="card.title"
      [top]="card.top"
      [right]="card.right"
      [bottom]="card.bottom"
      [left]="card.left"
      [description]="card.description"
      [imgUrl]="card.imgUrl"
      [position]="smallScreen || xSmallScreen ? 'relative' : 'absolute'"
    ></transparent-benefits-card>
    } @if(!smallScreen && !xSmallScreen){
    <div class="gradient-container">
      <div class="gradient-box"></div>
    </div>
    }
  </div>
</div>

<div id="connection">
  <h1>
    Simply keep your server
    <span class="sec-color">up-to-date</span>
  </h1>

  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro accusantium
    consequatur nesciunt assumenda necessitatibus. Sit eius tempore mollitia
    asperiores ullam illum earum animi cum, quas cumque, consequuntur pariatur,
    porro modi.
  </p>
  @defer(on viewport){
  <terminal [logs]="logs"></terminal>
  }@placeholder{
  <div>placholder</div>
  }
</div>

<div id="interface">
  <h1>
    Utilisez une
    <span class="sec-color">interface</span>
    simple et efficace.
  </h1>

  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro accusantium
    consequatur nesciunt assumenda necessitatibus. Sit eius tempore mollitia
    asperiores ullam illum earum animi cum, quas cumque, consequuntur pariatur,
    porro modi.
  </p>

  @defer(on viewport){
  <fadeIn-img [src]="'../assets/icons/windows-fill.svg'"></fadeIn-img>
  }@placeholder{
  <div></div>
  }
</div>

<div id="footer">
  @defer(on viewport){
  <div id="support">
    <h2>Support</h2>
    <div class="link-wrapper">
      <link-element label='Discord' ref="https://github.com/"></link-element>
      <link-element label='Github' ref="https://github.com/"></link-element>
      <link-element label='Email' ref="https://github.com/"></link-element>
    </div>
  </div>
  <div id="social">
    <h2>Social Media</h2>
      <div class="link-wrapper">
        <link-element label='Codefling' ref="https://github.com/"></link-element>
        <link-element label='Github' ref="https://github.com/"></link-element>
        <link-element label='Twitter/X' ref="https://github.com/"></link-element>
      </div>
  </div>
  <div id="newsletter">
    <h2>Subscribe our newsletter</h2>
    <div class="mail-input">
      <input type="email" placeholder="your email">
      <button>
        send
      </button>
    </div>

  </div>  
  }@placeholder {
  <div></div>
  }
</div>
