#headerPage{
    width: 100%;
    display: flex;
    justify-content: center;
}

.gradient-box{
    height: 30rem;
    width: 100%;
}

.get-started{
    position: relative;
    min-width:  20rem;
    max-width:  60rem;
}
