@import '../colors.scss';

@mixin col-center() {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#headerPage {
  @include col-center();
  margin-top: 4rem;

  width: 100%;
  .baseline {
    color: white;
    font-size: 0.9rem;
    font-weight: 500;
  }
}

.gradient-box {
  height: 30rem;
  width: 100%;
}

#getStarted {
  position: relative;
  margin-top: 6rem;
  margin-bottom: 22rem;
  @include col-center();

  .blur-gradient-background {
    z-index: -1;
    position: absolute;
    height: 25rem;
    width: 35rem;
    background: radial-gradient(ellipse at top, $primary, transparent),
      radial-gradient(ellipse at bottom, $secondary, transparent);
    transform: translate(-50%, -50%);
    transition: all 3s ease-in-out;
    filter: blur(10rem);
  }

  .get-started-block {
    position: relative;
    max-width: 60rem;
    width: -webkit-fill-available;
  }

  .mobile-display-small,
  .mobile-display-xSmall {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .mobile-display-xSmall {
    padding: 0 2rem 0 2rem;
  }

  .mobile-display-small {
    padding: 0 4rem 0 4rem;
  }
}

#connection,
#interface {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  p {
    max-width: 40rem;
    text-align: center;
  }

  h1 {
    color: white;
    text-align: center;
  }
  margin-bottom: 22rem;
}

#connection {
  terminal {
    min-width: 14rem;
    max-width: 40rem;
    width: 80%;
  }
}

#interface {
  .shema-wrapper {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: 4rem;

    .dynamic-arrow-wrapper {
      display: flex;
      align-items: flex-end;
      flex-direction: column;
    }
    .shema-icon-wrapper {
      position: relative;
      .shema-icon-shadow {
        height: 5rem;
        width: 5rem;
        border-radius: 5rem;
        background: $primary-op50;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
        filter: blur(2rem);
      }
    }
  }
}

#footer {
  grid-template-columns: repeat(4, 1fr);
  display: grid;
  color: $white;
  margin-bottom: 4rem;
  align-items: center;
  min-width: 14rem;
  padding: 0 8rem;

  .link-wrapper{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  h2 {
    margin-top: 0;
  }

  #support {
    display: flex;
    flex-direction: column;

    grid-column: 1;
  }

  #social {
    display: flex;
    flex-direction: column;

    grid-column: 2;
  }

  #newsletter {
    display: flex;
    flex-direction: column;
    width: 100%;
    grid-column: 3 / span 4;

    .mail-input {
      display: flex;
      gap: 0.5rem;
      padding: 0.5rem 0.5rem 0.5rem 1rem;
      background: $white;
      width: min-content;
      border-radius: 5rem;

      input[type='email'] {
        border: none;
        outline: none;
      }
    }
  }
}
