@import '../../../styles.scss';

#terminal {
  border: 2px solid white;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  max-width: 60rem;
  min-width : 40rem;

  .code-line {
    display: flex;

    .sever-name,
    .code-txt {
        font-family: 'Courier New', Courier, monospace;
    }

    .sever-name {
        color: rgb(97, 185, 102);
    }
    .code-txt {
        color: white;
    }
  }

  #updater {
    height: 0.5rem;
    background: $primary;
    overflow: hidden;
    border-radius: 1rem;

    #progress {
      background: rgb(73, 63, 55);
      height: 100%;
      width: 10%;
    }
  }
}
