/* You can add global styles to this file, and also import other style files */
@import '../src/colors.scss';

p {
  padding: 0;
  margin: 0;
  color: white;
}

body {
  background-color: $black;
  font-family: 'Ubuntu', sans-serif;
  padding: 0 1rem;
}

h1 {
  font-family: 'rust';
  letter-spacing: 0.15rem;
}

h2,
h3,
h4,
h5,
h6 {

  color: $white;
}

button {
  border: none;
  outline: none;
  padding: 0.5rem 0.9rem;
  border-radius: 5rem;
  background: $primary;
}

@font-face {
  font-family: 'rust';
  src: url('../src/assets/fonts/Rust.ttf') format('truetype');
}

.sec-color {
  color: $secondary;
}

.gradient-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0.3;
  max-width: 60rem;

  .gradient-box {
    display: flex;
    align-items: center;
    margin: auto;

    position: relative;
    padding: 1rem;
    box-sizing: border-box;

    $border: 3px;
    color: #fff;
    background: #e2ada4;
    background-clip: padding-box; /* !importanté */
    border: solid $border transparent; /* !importanté */
    border-radius: 1em;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      margin: -$border; /* !importanté */
      border-radius: inherit; /* !importanté */
      background: linear-gradient(to right, red, orange);
    }
  }
}
